@import '../mixins.scss';

.main-bg-container{
    background: url('../imgs/bgImg.jpg') no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
}

.bg-empty {
    width: 40%;
    height: 100%;
}

.bg-right-section {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bg-text {
   text-align: center; 

    h2 {
        font-size: 5em;
        color: #737373;
    }
    p {
        font-size: 3.5em;
        color: #737373;

    }
}

.bg-buttons {
    display: flex;

    button {
        @include buttonMixin(#f9c910);
        border-radius: 5px;
        color: white;
    }
}


