.list-container {
    color: #737373;
    margin-bottom: 6em;
}
.list-title {
    font-size: 4em;
    text-align: center;
}

.list-description {
    text-align: center;
    display: flex;

    div {
        width: 33.333%;
    }
    
    p {
        font-size: 1.4em;
    }
}

.tab-list {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.tab-list-item {
    padding: 2em;
    font-size: 2em;
}

.tab-list-active {
    color: #f9c910;
    font-weight: 700;
    transition: opacity 150ms ease-in;
    transition-delay: 150ms;
    opacity: 1;
}

.tab-content {
    padding: 0 20em;
}

.one-list-item {
    padding: 2em;
}

.fundation-title {
    h4 {
        font-size: 2em;
        margin: 0;
    }
}

.fundation-description {
    display: flex;
    .things {
        margin-left: auto;
    }
    p {
        font-size: 1.3em;
        margin: 0;
        border-bottom: 1px solid #737373;
        padding-bottom: 1em;
    }
}


