@import '../mixins.scss';

.land-page-header-top {
    width: 100%;
    position: fixed;
}

.land-page-logo-top  {
    font-family: 'Holtwood One SC', serif;
    text-align: center;
    
    h1 {
        font-size: 4em;
        margin: 0;
    }

    span {
        color: #f9c910;
        font-size: 1.3em;
    }

    a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
}

.header-container-top  {
    width: 100%;
    display: flex;
    justify-content: center;

    .space-top  {
        width: 30%;
    }
}

.land-page-nav-list-top  {
    width: 40%;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        height: 100%;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}


.nav-list-item-top  {
    font-size: 1.2em;
    padding: 0 1.5em;
    font-weight: 700;
    transition: 0.8s;
    cursor: pointer;

    &:hover{
        color: #f9c910;
    }

    // .active-link:focus {
    //     color: #f9c910;
    // }
}

.land-page-nav-log-top  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 33%;

}

.land-page-log-in-btn-top  {
    button {
        @include buttonMixin(none);   
    }
  
}

.land-page-register-btn-top  {
    button {
        @include buttonMixin(#f9c910);
        border-radius: 5px;
        color: white;
    }
}


////////////////////////SCROLL HEADER////////////////////
.land-page-header-scroll {
    display: none;
    width: 100%;
    position: absolute;
}

.land-page-logo-scroll  {
    font-family: 'Holtwood One SC', serif;
    text-align: center;
    
    h1 {
        font-size: 4em;
        margin: 0;
    }

    span {
        color: #f9c910;
        font-size: 1.3em;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

.header-container-scroll  {
    width: 100%;
    display: flex;
    justify-content: center;

    .space-top  {
        width: 30%;
    }
}

.land-page-nav-list-scroll  {
    width: 40%;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        height: 100%;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

.nav-list-item-scroll  {
    font-size: 1.2em;
    padding: 0 1.5em;
    font-weight: 700;
    transition: 0.8s;
    cursor: pointer;

    &:hover{
        color: #f9c910;
    }
}

.land-page-nav-log-scroll  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 33%;

}

.land-page-log-in-btn-scroll  {
    button {
        @include buttonMixin(none);   
    }
  
}

.land-page-register-btn-scroll  {
    button {
        @include buttonMixin(#f9c910);
        border-radius: 5px;
        color: white;
    }
}
